html, body, #app {
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
    width: 100vw;
    box-sizing: border-box;
    font-family: Arial, 'Segoe UI', Helvetica, sans-serif !important;
    background: #f9fafb;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
